@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Teko:wght@500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    background-color: #1a1a1a;

}

img {
    display: block;
    width: 100%;
}


h1, h2, h3, h4, h5, h6{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Teko', sans-serif;
    color: #fff;

}

p{
    color: #9a9696;
}