<section id="about-us" class="about-us">
    <div class="about-us__image-container">
        <img class="about-us__main-image" src="img/about-us-presentation.png" alt="Car presentation">
    </div>
    <div class="about-us__components components">
        <div class="components__title-container">
            <h2 class="components__title">ABOUT US</h2>
            <p class="components__subtitle">DRIVE A CAR WITH A LOW LEASING RATE</p>
            <p class="components__text">FutureLease is a leading leasing specialist in the USA for business and personal leasing.</p>
            <p class="components__text">We have over a hundred deals for car and van leasing. Our first leasing deal came out in 2004. Since then, we've become the leaders on the market, supplying vehicles of different models for over 15 years. We've satisfied thousands of clients in the USA and other countries alike.</p> 
            <p class="components__text">FutureLease has a worldwide network of manufacturers and car distributors — that's why we're able to get you the fittest leasing deals. Our goal is to build a continuous collaboration between the company and our clients, to make sure you'll go back to us time and time again.</p>
        </div>
    </div>
    <div class="components__buttons-container">
        <a class="components__button-contacts" href="contacts.html">REQUEST A QUOTE</a>
        <a class="components__button-about" href="about.html">LEARN MORE</a>
    </div>
    </div>
</section>