<section class="cars">
    <div class="cars__title-container">
        <h2 class="cars__title">CARS</h2>
        <p class="cars__subtitle">AVAILABLE OPTIONS</p>
        <p class="cars__text">All these vehicles are available for lease right now.</p>
    </div>
    <div class="cars__carousel">
        <button class="cars__button-prev">Prev</button>
        <div class="carousel__slide-container">
        <article class="cars__carousel-container item">
            <img src="img/cars/rolls-royce.png" alt="Rolls-royce">
            <h3>ROLLS-ROYCE</h3>
            <p>$505.95 / MONTH</p>
            <p>Rolls-Royce Phantom VIII</p> 
            <p>6.75 L (412 cu in)</p>
            <a class="cars__button-learn-more" href="volkswagen.html">LEARN MORE</a>
        </article>
        <article class="cars__carousel-container item">
            <img src="img/cars/bmw.png" alt="Rolls-royce">
            <h3>BMW</h3>
            <p>$374.45 / MONTH</p>
            <p>2021 BMW X6</p>
             <p>xDrive 40i Sports Activity Coupe</p>
            <a class="cars__button-learn-more" href="volkswagen.html">LEARN MORE</a>
        </article>
        <article class="cars__carousel-container item">
            <img src="img/cars/honda.png" alt="Rolls-royce">
            <h3>HONDA</h3>
            <p>$199.95 / MONTH</p>
            <p>Honda Accord</p>
            <p>Sport Special Edition</p>
            <a class="cars__button-learn-more" href="volkswagen.html">LEARN MORE</a>
        </article>
        <article class="cars__carousel-container item">
            <img src="img/cars/volkswagen.png" alt="Rolls-royce">
            <h3>VOLKSWAGEN</h3>
            <p>$210.45 / MONTH</p>
            <p>Volkswagen Golf Hatchback</p> 
            <p>2.0 TSI 245 GTI Performance 5dr</p>
            <a class="cars__button-learn-more" href="volkswagen.html">LEARN MORE</a>
        </article>
    </div>
    <button class="cars__button-next">Next</button>
    </div>
</section>