<section class="deals">
    <div class="deals__title-container">
        <h2 class="deals__title">DEALS</h2>
        <p class="deals__subtitle">HOTTEST DEALS</p>
        <p class="deals__text">Get advantage of the special prices on car lease!</p>
    </div>
    <div class="deals__items-contianer">
        <article class="deals__item">
            <h3>FORD FOCUS HATCHBACK 1.0 ECOBOOST 140 ST-LINE</h3>
            <p>FROM $149.00/MONTH</p>
            <a class="deals__button_learn-more" href="volkswagen.html">ENQUIRE NOW</a>
        </article>
        <article class="deals__item">
            <h3>VOLKSWAGEN GOLF DIESEL HATCHBACK 2.0 TDI 184 GTD 5DR </h3>
            <p>FROM $224.99/MONTH</p>
            <a class="deals__button_learn-more" href="volkswagen.html">ENQUIRE NOW</a>
        </article>
    </div>
</section>