<section class="features">
    <div class="features__title-container">
        <h2 class="features__title">FEATURES</h2>
        <p class="features__subtitle">HERE'S WHAT YOU NEED TO KNOW ABOUT LEASING</p>
        <p class="features__text">Have you ever leased a car? It's simple!</p>
    </div>
    <div class="features__services-container">
        <article class="features__services-item">
            <img width="70" src="img/features/fully-insured-leasing.svg" alt="Fully-insured-leasing icon">
            <h3>FULLY INSURED LEASING</h3>
            <p>AD Insurance Company is our partner. Fully Comprehensive Insurance is included in the basic package.</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
        <article class="features__services-item">
            <img width="70" src="img/features/car-repair.svg" alt="Car repair icon">
            <h3>MAINTAINING ALL THE VEHICLES</h3>
            <p>You get a fully serviceable car that has passed a timely technical inspection. No surprises on the roads!</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
        <article class="features__services-item">
            <img width="70" src="img/features/map-location.svg" alt="Map location icon">
            <h3>CAR LEASING FOR PERSONAL TRIPS</h3>
            <p>If you are planning a family trip or need a car for daily rides, we will find a suitable and affordable option.</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
        <article class="features__services-item">
            <img width="70" src="img/features/business-leasing.svg" alt="Business leasing icon">
            <h3>LEASING FOR BUSINESS AFFAIRS</h3>
            <p>We work with companies that need vehicles for representational activities or simply daily use.</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
        <article class="features__services-item">
            <img width="70" src="img/features/calendar.svg" alt="Calendar icon">
            <h3>SHORT-TERM LEASING DEALS</h3>
            <p>You can start with 3 or 6 months of lease. We will find a suitable option tailored to your needs.</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
        <article class="features__services-item">
            <img width="70" src="img/features/contract.svg" alt="Contract icon">
            <h3>CONTRACT HIRE GUIDE</h3>
            <p>The monthly lease amount is based on the original cost of the vehicle, the mileage, and the length of the contract.</p>
            <a class="features__services-item-button" href="about.html">LEARN MORE</a>
        </article>
    </div>
</section>