<section id="gallery" class="gallery">
    <div class="gallery__carousel">
        <button class="gallery__carousel-btn-prev">Prev</button>
        <img width="150" src="img/contacts-us-gallery/deals.png" alt="Deals">
        <img width="150" src="img/contacts-us-gallery/nissan.png" alt="Nissan">
        <img width="150" src="img/contacts-us-gallery/inside-the-car.png" alt="Inside the car">
        <img width="150" src="img/contacts-us-gallery/bmw.png" alt="Bmw">
        <img width="150" src="img/contacts-us-gallery/jeep.png" alt="Jeep">
        <img width="150" src="img/contacts-us-gallery/audi.png" alt="Audi">
        <button class="gallery__carousel-btn-next">Next</button>
    </div>
</section>