<header class="header">
    <div class="header__contact">
    <div class="header__logo-container">
        <img class="header__logo" width="100" src="img/logo.svg" alt="Header logo">
    </div>
    <nav class="header__menu">
       <a href="#models" class="header__menu_item">CARS</a>
       <a href="about.html" class="header__menu_item">ABOUT US</a>
       <a href="#reviews" class="header__menu_item">REVIEWS</a>
       <a href="#news" class="header__menu_item">NEWS</a>
       <a href="contacts.html" class="header__menu_item">OUR CONTACTS</a>
    </nav>
    <div>
        <ul>
        <li><a href="https://www.facebook.com/" target="_blank">facebook</a></li>
        <li><a href="https://twitter.com/" target="_blank">twitter</a></li>
        <li><a href="https://www.linkedin.com/feed/" target="_blank">linkedin</a></li>
    </ul>
    </div>
</div>
<h1 class="">BUSINESS AND PERSONAL LEASING EXPERTS</h1>
<p>You will be driving. We'll be taking care of the rest.</p>
<div>
    <a href="contacts.html">Request a quote</a>
</div>
<div>
    <a href="">Learn more</a>
</div>
</header>