<section class="news">
    <div class="news__title-container">
        <h2 class="news__title">NEWS</h2>
        <h3 class="news__subtitle">LATEST NEWS</h3>
        <p class="news__text">Read articles about the automotive industry.</p>
    </div>
    <div class="news__components components">
        <article class="components__item">
            <img width="200" src="img/news/hyundai.png" alt="Hyundai">
            <h4>NEWS | SEPTEMBER 23, 2022</h4>
            <h3>AUDI AND HYUNDAI TO COOPERATE ON HYDROGEN FUEL</h3>
            <p>Audi and Hyundai have announced plans to jointly bring the fuel cell to volume production more quickly and more efficiently than is currently the case, as well as exploring more...</p>
            <a class="components__button-read-more" href="index.html">READ MORE</a>
        </article>
        <article class="components__item">
            <img width="200" src="img/news/citroen.png" alt="Citroen">
            <h4>REVIEW | SEPTEMBER 24, 2022</h4>
            <h3>REVIEW: CITROEN C3 AIRCROSS,
                A STYLISH GAME-CHANGER</h3>
            <p>You could be forgiven for thinking Citroen was already a player in the small SUV sector, but its C3 Aircross is the first true entrant in this burgeoning class. While the C4 Cactus...</p>
            <a class="components__button-read-more" href="index.html">READ MORE</a>
        </article>
        <article class="components__item">
            <img width="200" src="img/news/audi.png" alt="Audi">
            <h4>TOP 5S | SEPTEMBER 22, 2022</h4>
            <h3>TOP FIVE CARS FOR LESS THAN $300 PER MONTH</h3>
            <p>We’ve already checked out what cars are available if you’ve got a budget of $200 per month, but what if you can stretch to $300? As monthly payments on lease cars are...</p>
            <a class="components__button-read-more" href="index.html">READ MORE</a>
        </article>
    </div>
</section>