<section id="reviews" class="reviews">
    <div class="reviews__title-container">
        <h2 class="reviews__title">REVIEWS</h2>
        <h3 class="reviews__subtitle">WHAT OUR CLIENTS SAY</h3>
        <p class="reviews__text">We're happy to receive your testimonials and provide you with exceptional services!</p>
    </div>
    <div class="reviews__carousel-container">
        <button class="reviews__carousel-btn-prev">Prev</button>
        <article class="reviews__carousel-item">
            <img width="100" class="reviews_reviwer-image" src="img/reviews/daniella.png" alt="Reviewer Daniella">
            <h3>DANIELLA MALTON</h3>
            <h4>MARKETING DIRECTOR AT DOWSON & CO</h4>
            <p>“The company has supported us every step of the way. Also, the Volkswagen I was driving was amazing. If I were to lease a car again, FutureLease is the most obvious choice. The process of leasing and signing all the documents was simple and understandable, and the pricing was clear, without any hidden payments.”</p>
            <p>OCTOBER 15, 2022</p>
        </article>
        <article class="reviews__carousel-item">
            <img width="100" class="reviews_reviwer-image" src="img/reviews/jessica.png" alt="Reviewer Jessica">
            <h3>JESSICA COOPER</h3>
            <h4>SALES REPRESENTATIVE AT GOODSON AND SONS</h4>
            <p>“Excellent service from start to finish.  I was thrilled with my vehicle, the Discovery Sport. Driving was a real pleasure! A huge plus is that when leasing a car, you don't need to think about its technical condition, repairs, etc. You just use it for a while and pay an affordable price for that. I will definitely use the services of FutureLease again!”</p>
            <p>DECEMBER 08, 2022</p>
        </article>
        <article class="reviews__carousel-item">
            <img width="100" class="reviews_reviwer-image" src="img/reviews/victor.png" alt="Reviewer Victor">
            <h3>VICTOR MANNER</h3>
            <h4>PRIVATE ENTREPRENEUR</h4>
            <p>“A shout-out to Daniel, the manager who was leasing a car for me. He is a lovely person who loves his work. The company also left a nice impression. I rented a Ford Focus for my daily rides to work, cinema, etc. I was completely satisfied with the car's condition and the services provided by FutureLease.”</p>
            <p>DECEMBER 25, 2022</p>
        </article>
        <button class="reviews__carousel-btn-next">Next</button>
    </div>
</section>