<section class="services">
    <div class="services__carousel">
        <button class="services__button-prev">Prev</button>
        <div class="carousel__slide-container">
            <article class="carousel__slide">
                <img width="70" src="img/services/credit-card.svg" alt="Credit card">
                <h3>BETTER THAN COMPETITORS</h3>
                <p>Have you found a better deal in a different company? Reach out to us and get 1 month for free.</p>
            </article>
            <article class="carousel__slide">
                <img width="70" src="img/services/ratings.svg" alt="Ratings">
                <h3>AFFORDABLE RATES</h3>
                <p>We are constantly keeping an eye on the prices to make sure we'll get you the best deal there is on the market.</p>
            </article>
            <article class="carousel__slide">
                <img width="70" src="img/services/car-rental.svg" alt="Car rental">
                <h3>ALL LEGAL PAPERWORK FILED</h3>
                <p>There's a warranty for every car of the company. All the vehicles are taxed and have the breakdown cover.</p>
            </article>
            <article class="carousel__slide">
                <img width="70" src="img/services/car-rent.svg" alt="Car rent">
                <h3>A QUOTATION FOR ANY MODEL</h3>
                <p>The company can give a no-obligation quotation for the cars of all models and types.</p>
            </article>
        </div>
        <button class="services__button-next">Next</button>
    </div>
    <div class="lease-types__components components">
        <div class="components__item-container">
            <div class="components__image-container">
                <img src="img/services/lease-types-business-car.png" alt="Business type car">
            </div>
            <div class="components__block-container">
                <h2>LEASE TYPES</h2>
                <p>BUSINESS</p>
                <p>We provide car leasing services for companies of all sizes. Whether you need to meet partners at the airport in a high-status car or deliver documents throughout the day, we will find a solution for you. </p>
                <a class="button" href="about.html">LEARN MORE</a>
            </div>
        </div>
        <div class="components__item-container">
            <div class="components__block-container">
                <h2>LEASE TYPES</h2>
                <p>PERSONAL</p>
                <p>Do you need a reliable car for the whole family, outings, or just a daily car to work and shop? Or, maybe, you want to rent a sports car? At FutureLease, you will find everything you need.</p>
                <a class="button" href="about.html">LEARN MORE</a>
            </div>
            <div class="components__image-container">
                <img src="img/services/lease-types-personal-car.png" alt="Personal type car">
            </div>
        </div>
    </div>
</section>